@{
    ViewData["Title"] = "Home Page";
}

<!-- Page Header-->
<header class="masthead" style="background-image: url('lib/bootstrap/assets/img/wedding.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Mission #4: Dallin Blanc</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">

            <!-- This is where I include the picture of me doing something I like -->
            <div class="post-preview">
                <h2 class="post-title">I like surfing, so here is a picture of me surfing when I was about 16.</h2>
                <img src="img/surfing.JPG" alt="Surfing" class="center" />
            </div>
            <!-- Divider-->
            <hr class="my-4" />

            <!-- This is my paragraph about what I hope to learn in IS 413 -->
            <div class="post-preview">
                <h2 class="post-title">What I Hope to Get Out of IS 413</h2>
                <p>
                    I want to understand more about how I can create my own
                    website using .NET Core MVC Framework. Learning more about
                    Javascript, JQuery, and Angular seem like very useful things
                    to know for wherever I end up in my career. API's are also a
                    point of curiosity for me and I hope to learn how to use them
                    effectively. React as a front end also seems to be intriguing,
                    so I am excited for that too. I hope that I can use all this
                    knowledge to create my own web apps to assist me and others.
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />

            <!-- This is my top 3 job list -->
            <div class="post-preview">
                <h2 class="post-title">My Top 3 Job List</h2>
                <ul>
                    <li>Data Analyst</li>
                    <li>Project Manager</li>
                    <li>Software Developer</li>
                </ul>
            </div>
            <!-- Divider-->
            <hr class="my-4" />

            <!-- This is where I start taking the client's input -->
            <form>
                <div class="post-preview">
                    <h2 class="post-title">Grade Calculator</h2>
                    <h6>Enter the percentage for each type of grade (which are weighted differently)</h6>
                    <label>Assignments (50%): </label>
                    <input id="assignment" type="number" />
                    <br />
                    <label>Group Projects (10%): </label>
                    <input id="groupProject" type="number" />
                    <br />
                    <label>Quizzes (10%): </label>
                    <input id="quiz" type="number" />
                    <br />
                    <label>Midterm Exam (10%): </label>
                    <input id="midtermExam" type="number" />
                    <br />
                    <label>Final Exam (10%): </label>
                    <input id="finalExam" type="number" />
                    <br />
                    <label>INTEX (10%): </label>
                    <input id="intex" type="number" />
                    <br />
                    <br />
                    <div style="text-align:center;">
                        <input align="center" id="calcButton" type="button" value="Calculate Final Grade" />
                    </div>
                    <p align="center" id="finalGrade"></p>
                </div>
            </form>
        </div>
    </div>
</div>